{% extends "app/layout.html" %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading"><h5 class="panel-title">Dokumentum feltöltése</h5></div>
    <div class="panel-body">
        <div style="margin-left:40px;" class="col-md-6">
            {% load bootstrap3 %}
            <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" %}
                <button type="submit" class="save btn btn-primary">Feltöltés</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}