<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Raktárkezelő</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Kezdőlap</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beszerzés<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'beszallito_list' %}">Beszállítók</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'bevetel_new' %}">Bevételezés</a></li>
                            <li role="separator" class="divider"></li>
                        {% endif %}
                            <li><a href="/admin">Admin</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'change_password' %}">Jelszó módosítás</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'index' %}">Értékesítés</a></li>
                <li><a href="{% url 'index' %}">Átvezetés</a></li>
                {% if user.is_staff %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exportok<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'export_termek' %}">Termék export</a></li>
                        <li><a href="{% url 'export_bevetel' %}">Bevétel export</a></li>
                        <li><a href="{% url 'export_ertekesit' %}">Értékesítés export</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% include 'app/loginpartial.html' %}
        </div>
    </div>
</nav>
    <div class="body-content">
{% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'app/scripts/jquery.formset.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
